@font-face {
  font-family: 'Pixel';
  font-weight: 300;
  src: url(../fonts/pixelmix.ttf) format('TrueType');
}

@font-face {
  font-family: 'PixelBold';
  font-weight: 700;
  src: url(../fonts/pixelmix_bold.ttf) format('TrueType');
}