$green: #a8ec00;
$darkGreen: darken($green, 15%);
$magenta: magenta;
$cyan: #3afcfd;
$orange: #f88d35;
$crimson: #cc231a;
$blue: #0024b2;
$yellow: #fefa5d;
$black: #191919;

$ff: Pixel;

$gutter: 12px;